@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.img {
    height: 80vh;

    background: url("../images/lights.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;

    padding-top: 0;
}

body {
    background: black;
}
.logo {
    padding-top: 20px;
    padding-right: 20px;
}
.nav {
    padding-top: 20px;
}

.nav-push {
    padding-bottom: 10%;
}

span {
    font-size: 20px;
    font-family: "Exo" sans-serif;
    font-weight: bold;
    color: #fafafafa;
}

.contact {
    color: #fafafafa;
    padding-top: 50px;
    position: absolute;
    font-size: 12px;
    font-family: "Roboto" sans-serif;
    font-weight: 100;
    text-align: right;
}

.social {
    font-size: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #fafafafa;
}