/* ------------------------------------------------images */

.image1 {
    background: url("../images/lights.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.image2 {
    background: url("../images/lights.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.image3 {
    background: url("../images/lights.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}
/* ------------------------------------------------images */


/* ------------------------------------------------Nav/Header */
.spacing {
    background: #c5c4c4;
}

.container-fluid {
    margin: 0;
    padding: 0;
    min-height: 15%;
}
/* ------------------------------------------------Nav/Header */